<div id="home" class="pages">
    <h2>
        O Evento</h2>
    <div id="container">
        <p>
            Um evento totalmente dedicado à web e <strong>totalmente gratuito.</strong>. Conceitos, tecnologias e práticas visando o
            melhor desenvolvimento de produtos e aplicações.
        </p>
        <p>
            Este ano palestras indo além do framework ASP.NET MVC: cache, html, css, javascript,
            Rails e muito mais.
        </p>
        <p>
            A idéia deste evento não é promover uma tecnologia, mas sim promover a troca de
            experiências entre diversos profissionais e a comunidade técnica buscando elevar
            a qualidade do software que produzimos: entregando mais valor, com maior eficiência
            e assertividade.
        </p>
        <p>
            Em 2011, na primeira edição do evento, conseguimos atingir cerca de 2000 inscrições,
            tendo online cerca de 400 participantes ao mesmo tempo. Não possívemos metas com
            relação a números: apenas queremos compartilhar e aprender.
        </p>
        <h2>14/04/2012, sábado às 10h</h2>
        <a href="#inscricao" class="inscricao">inscreva-se já!</a>
    </div>
</div>
