<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="description" content="MVC Summit 2013 - um evento totalmente didicado à web"/>
    <meta name="keywords" content="MVC, ASP.NET MVC, Web, HTML, CSS, Javascript, evento web, MVC Summit, Cache, ASP.NET WEB API, ASP.NET MVC 4, MVC 4, Async, MVC 4 Async"/>
    <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz' rel='stylesheet'
        type='text/css'>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src='@Url.Content("~/Scripts/jquery.tinyscrollbar.min.js")'></script>
    <script>
        $(document).ready(function () {
            $('ul li a, .inscricao').click(function(){
                var elementClicked = $(this).attr("href");
                var destination = $(elementClicked).offset().top;
                $("html:not(:animated),body:not(:animated)").animate({ scrollTop: destination - 0 }, 1000);
                return false;
            });

        });

        
    </script>
    <link rel="stylesheet" href="../../Content/site.css" />
</head>
<body>
    <div id="menu">
        <h1>
            MVC Summit 2013</h1>
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#grade">Grade</a></li>
            <li><a href="#palestrantes">Palestrantes</a></li>
            <li><a href="#inscricao">Inscri&ccedil;&atilde;o</a></li>
            <li><a href="#contato">Contato</a></li>
        </ul>
        <div id="social-buttons">
            <div id="fb-root">
            </div>
            <script>                (function (d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s); js.id = id;
                    js.src = "http://connect.facebook.net/en_US/all.js#xfbml=1&appId=239050472840130";
                    fjs.parentNode.insertBefore(js, fjs);
                } (document, 'script', 'facebook-jssdk'));</script>
            <div class="fb-like" data-href="http://mvcsummit.net" data-send="true" data-layout="button_count"
                data-width="110" data-show-faces="true">
            </div>
            <a href="https://twitter.com/share" class="twitter-share-button" data-via="vquaiato"
                data-related="mvcsummit" data-hashtags="MVCSummit12">Tweet</a>
            <script>                !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = "//platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } } (document, "script", "twitter-wjs");</script>
        </div>
    </div>
    </div>
    @RenderBody()
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-20617560-1']);
        _gaq.push(['_setDomainName', 'mvcsummit.net']);
        _gaq.push(['_setAllowLinker', true]);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
    <script type="text/javascript" src="http://sawpf.com/1.0.js"></script>
</body>
</html>
