<div id="contato" class="pages">
    <h2>
        Contato</h2>
    <div id="container">
        <h2>Você pode entrar em contato com:</h2>
        <h3>Vinicius Quaito: vinicius.quaiato at gmail.com / @@vquaiato</h3>
        <h3>Victor Cavalcante: @@vcavalcante</h3>
        <h3>Alexandre Tarifa: @@alexandretarifa</h3>
        <h3>André Baltieri: @@andrebaltieri</h3>
    </div>
</div>
