<div id="grade" class="pages">
    <h2>
        Grade</h2>
    <div id="container">
        <table>
            <thead>
                <tr>
                    <th>
                        Track 1
                    </th>
                    <th>
                        Track 2
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Foo 1
                    </td>
                    <td>
                        Foo 2
                    </td>
                </tr>
                <tr>
                    <td>
                        Foo 3
                    </td>
                    <td>
                        Foo 4
                    </td>
                </tr>
                <tr class="almoco">
                    <td>
                        Almoço
                    </td>
                    <td>
                        Almoço
                    </td>
                </tr>
                <tr>
                    <td>
                        Foo 3
                    </td>
                    <td>
                        Foo 4
                    </td>
                </tr>
                <tr>
                    <td>
                        Foo 3
                    </td>
                    <td>
                        Foo 4
                    </td>
                </tr>
                <tr>
                    <td>
                        Foo 3
                    </td>
                    <td>
                        Foo 4
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
