<div id="contato" class="pages">
    <h2>
        Contato</h2>
    <div id="container">
        <h2>Você pode entrar em contato com:</h2>
        <h3><strong>Vinicius Quaiato:</strong> vinicius.quaiato at gmail.com / @@vquaiato</h3>
        <h3><strong>Victor Cavalcante:</strong> @@vcavalcante</h3>
        <h3><strong>Alexandre Tarifa:</strong> @@alexandretarifa</h3>
        <h3><strong>André Baltieri:</strong> @@andrebaltieri</h3>
    </div>
</div>
