<div id="grade" class="pages">
    <h2>
        Grade</h2>
    <div id="container">
        <table>
            <thead>
                <tr>
                    <th>
                        Track 1
                    </th>
                    <th>
                        Track 2
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <h3>---</h3>
                        <span>???</span>
                    </td>
                    <td>
                        <h3>---</h3>
                        <span>???</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h3>Cache, Cache e Cache!</h3>
                        <span>Alexandre Tarifa</span>
                    </td>
                    <td>
                        <h3>HTML 5</h3>
                        <span>Eduardo Cucharro</span>
                    </td>
                </tr>
                <tr class="almoco">
                    <td>
                        Almoço
                    </td>
                    <td>
                        Almoço
                    </td>
                </tr>
                <tr>
                    <td>
                        <h3>ASP.NET MVC 4</h3>
                        <span>Cleber Dantas</span>
                    </td>
                    <td>
                        <h3>ASP.NET MVC 4 Async</h3>
                        <span>Giovanni Bassi</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h3>Rails e Web</h3>
                        <span>Daniel Lopes</span>
                    </td>
                    <td>
                        <h3>ASP.NET WEB API</h3>
                        <span>Israel Aece</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h3>---</h3>
                        <span>???</span>
                    </td>
                    <td>
                        <h3>---</h3>
                        <span>???</span>
                    </td>
                </tr>
            </tbody>
        </table>
        <span class="alteracoes">*Os horários das palestras ainda podem sofrer alterações</span>
    </div>
</div>
