body
{
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}
div#menu
{
    padding: 10px;
    background: #333;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 0 10px #333;
    background: url(/Content/bg_menu.png);
    z-index: 1000;
}
div#menu h1
{
    display: inline-block;
    width: 465px;
    margin: 0;
    margin-left: 50px;
    font-size: 46px;
    color: #fff;
    text-shadow: 1px 1px 1px #555;
    font-family: 'Yanone Kaffeesatz' , Helvetica, sans-serif;
}
div#menu ul
{
    margin: 0;
    padding: 0;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    font-size: 22px;
    font-family: 'Yanone Kaffeesatz' , Helvetica, sans-serif;
}
div#menu ul li
{
    list-style-type: none;
    display: inline-block;
    margin-right: 30px;
}
div#menu ul li a, div#menu ul li a:visited
{
    color: #fff;
    text-decoration: none;
}
div#menu ul li a:active
{
    border-bottom: solid 3px #fff;
}

div.pages
{
    padding: 70px 10px 0 10px;
    height: 700px;
}
div.pages h2
{
    font-size: 56px;
    margin: 10px 0 10px 50px;
    text-transform: uppercase;
    font-family: 'Yanone Kaffeesatz' , Helvetica, sans-serif;
    text-shadow: 1px 1px 2px #444;
}

div#container
{
    width: 700px;
    background-color: rgba(0,0,0,0.1);
    padding: 20px;
    border-radius: 5px;
    margin: 50px auto 0 auto;
    box-shadow: 1px 1px 5px #333;
    position: relative;
}

div#home
{
    background: url(/Content/bg1.png);
}
div#container h2
{
    color: #fff;
    font-size: 46px;
    text-align: center;
    margin: 10px;
}
div#home div#container a.inscricao
{
    display: block;
    width: 250px;
    background-color: #359E33;
    padding: 1px;
    font-family: 'Yanone Kaffeesatz' , Helvetica, sans-serif;
    color: white;
    font-size: 42px;
    text-align: center;
    border-radius: 7px;
    line-height: 60px;
    padding-bottom: 7px;
    margin: 0 auto;
    box-shadow: 1px 1px 3px #333;
    text-shadow: 1px 1px 1px #333;
}
div#grade
{
    background: url(/Content/bg2.png);
}
div#grade div#container span.alteracoes
{
    text-align: center;
    font-style: italic;
    display: block;
}
div#container table
{
    width: 100%;
    text-align: center;
}
div#container table thead tr
{
    background: rgba(255,255,255,0.4);
}
div#container table tr
{
    height: 30px;
    background: rgba(255,255,255,0.5);
}
div#container table tr td
{
    padding: 10px;
    border-radius: 3px;
    width: 200px;
}
div#container table tr td h3
{
    margin-top: 0;
    margin-bottom: 3px;
}
div#container table tr.almoco
{
    padding: 5px;
    border-radius: 3px;
    background: rgba(255,255,255,0.0);
}

div#palestrantes
{
    background: url(/Content/bg3.png);
}

div#inscricao
{
    background: url(/Content/bg4.png);
}

div#contato
{
    background: url(/Content/bg5.png);
}

div#social-buttons
{
    display: inline-block;
}
